@model MVCBookManager.Models.BookAuthorViewModel

@{
    ViewData["Title"] = "Livros";
}

<h1>Livros</h1>

<p>
    <a asp-action="Create">Cadastrar um Novo</a>
</p>

<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        <select class="col-form-label" asp-for="BookAuthor" asp-items="Model.Authors">
            <option value="">Todos</option>
        </select>
        Nome: <input type="text" asp-for="SearchString" />
        <input class="btn btn-outline-primary" type="submit" value="Buscar" />
    </p>
</form>

<div class="card-columns">
    @foreach(var item in Model.Books)
    {
    <div class="card">
        <div class="card-img" style="background-image: url('@Url.Content("~/Images/" + @item.BookCoverID)') "></div>
        <div class="card-body">
            <h5>@item.Name</h5>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
        </div>
    </div>
    }
</div>


